[fan]
##  Print Cooling Fan - FAN0
pin: PA8
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: PE5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##	If you are experiencing back flow, you can reduce fan_speed 
#fan_speed: 0.5

[heater_fan controller_fan]
##  Controller fan - FAN2
pin: PD12
kick_start_time: 0.5
heater: heater_bed
heater_temp: 50.0

[fan_generic filter_fan]
## Nevermore Filter Fan - FAN3
pin: PD13
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

[temperature_sensor Pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 90

[temperature_sensor MCU]
sensor_type: temperature_mcu

[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950

# TH1
#[temperature_sensor toolhead]
#gcode_id: THC
#sensor_type: chamber_temp
#sensor_pin: PF5
#min_temp: 0
#max_temp: 100