[mcu]
##    MCU for X/Y/E steppers main MCU
##    [X in X] - B Motor
##    [Y in Y] - A Motor
##    [E in E0] - Extruder
##    Obtain definition by "ls -l /dev/serial/by-path/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f429xx_3C004F000450314B33323220-if00
restart_method: command
##--------------------------------------------------------------------

# [mcu adxl]
# serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_49FF71067587485133530381-if00

# [adxl345]
# cs_pin: adxl:PA0
# spi_software_sclk_pin: adxl:PA1
# spi_software_mosi_pin: adxl:PA2
# spi_software_miso_pin: adxl:PA3

# [resonance_tester]
# accel_chip: adxl345
# probe_points:
#     150,150,20  # an example